{% extends "main/base.html" %}
{% load static %}
<!-- title -->
{% block title %}KIZEK Shop{% endblock %}
<!-- Navigation bar -->
{% block navbar %}
<li><a href="/">About</a></li><li><a href="/home">Home</a></li>
<li><a href="/shop" class="active">Shop</a></li>
<li id="shop-bag">
  <a href="/cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
</li>
{% endblock %}
<!-- start contnet -->
{% block content %}
<section id="hero-shop">
    <h2>#GetActive</h2>
    <p>Up to 70% off on Sportswear!</p>
  </section>

  <section id="NormalProductDisplay" class="body-section">
  <h2>All Products</h2>
  <p>50% off on 2nd item!</p>
  <div class="displayContainer">
    <div class="productCard">
      <img src='{% static "top11.jpg" %}' alt="">
      <div class="description">
        <span>Tops</span>
        <h5>KIZEK Tops 1543</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$178</h4>
      </div>
      <a href="/individual_product"
        ><i class="fa fa-shopping-cart cart" aria-hidden="true"></i
      ></a>
    </div>
    {% for productcard in allrange %}
    <div class="productCard">
      <img src="{% static productcard %}" alt="">
      <div class="description">
        <span>Category</span>
        <h5>Product Name</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <h4>$278</h4>
      </div>
      <a href="#incomplete"
        ><i class="fa fa-shopping-cart cart" aria-hidden="true"></i
      ></a>
    </div>
    {%endfor%}
</section>

<section id="categoryPage" class="body-section">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
  </section>

<div id="incomplete" class="overlay">
  <div class="popup">
      <div class="content">
            <h2 class="header" data-text="Oops!">
               Oops!
            </h2>
            <br>
            <br>
            <h4>
               incomplete Portion!
            </h4>
            <p>
               Sorry, the product page you're looking for doesn't exist. This is because the Hackathon only require us to make a page for only a single product. If you would like view how the product details page look like, click the button below, or choose the product name "KIZEK Tops 1543".
            </p>
            <div class="btns">
               <a href="/individual_product">View Product</a>
               <a href="#">Return to Page</a>
            </div>
         </div>
  </div>
</div>
{% endblock %}
